@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/variables.scss';

.promptpage-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.promptpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  @include Mobile {
    width: 100vw;
  }
  @include Tablet {
    width: 75vw;
  }
  @include Desktop {
    width: 66vw;
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    // background-color: $Powder-Blue;
  }

  &__navbar-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

    &__active {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px;
      border-bottom: 5px solid $MVP-Dark-Blue;
    }
  }

  &__container {
    width: 100%;
    border: 1px solid black;
    // This color is not in the MVP variables, but it's on the mockup
    background-color: #E1F0FB;
  }

  &__input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__input-container > * {
    margin-bottom: 15px;
  }


  &__preview-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
  }

  &__input-box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 100px;
    resize: none;
    overflow-y: scroll;
    align-self: center;
  }

  &__preview-box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    background-color: white;
  }

  &__sub-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }

  &__sub-container > h4 {
    color: $MVP-Dark-Blue;
  }

  &__sub-container > *{
    margin-bottom: 10px;
  }

  &__generate-btn {
    color: white;
    background-color: $MVP-Dark-Blue;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }

  &__choice-selection {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-family: 'Gilroy';
    font-size: 1rem;

  }
  &__choice-selection > * {
    margin-left: 15px;
    margin-right: 15px;
  }

  &__post-btn {
    background-color: $MVP-Yellow;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }

  &__mood-box {
    display: flex;
    width: 100%;
    color: $MVP-Dark-Blue;
    @include Mobile {
      flex-direction: column;
      align-items: center;
    }
    @include Tablet {
      flex-direction: column;

    }
    @include Desktop {
      flex-direction: row;
    }

  }

  &__mood-box > select {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__bottom-section {
    width: 100%;
  }

  &__spinner {
    display: flex;
    justify-content: center;
    width: 100%;
  }

}
