@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/variables.scss';

.promptpage-container {
  display: flex;
  justify-content: center;
}

.promptpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  @include Mobile {
    width: 100vw;
  }
  @include Tablet {
    width: 75vw;

  }
  @include Desktop {
    width: 66vw;
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: $Powder-Blue;
  }

  &__navbar-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

    &__active {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px;
      border-bottom: 8px solid rgb(58, 58, 58);
    }
  }

  &__container {
    width: 100%;
  }

  &__input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__input-container > * {
    margin-bottom: 15px;
  }


  &__preview-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  &__input-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 300px;
    resize: none;
    overflow-y: scroll;
    align-self: center;
  }

  &__preview-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
  }

  &__sub-label {
    background-color: gray;
    border-radius: 5px;
    padding: 5px 15px;
  }

}
