.promptpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;


  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
  }

  &__navbar-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

    &__active {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px;
      border-bottom: 8px solid rgb(58, 58, 58);
    }
  }

  &__container {
    background-color: lightgray;
    width: 50vw;
  }

  &__input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__preview-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  &__input-box {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 300px;
    resize: none;
    overflow-y: scroll;
  }

  &__preview-box {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
  }
}
