@import '../../styles/partials/variables.scss';


.commit-ai-banner {
  background-color: $Powder-Blue;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.commit-ai-banner p {
  font-size: 1.25rem;
}