@use "./mixins" as *;
@use "./variables" as *;
@use "./typography" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilroy", sans-serif;
}

p, button {
  font-family: "Gilroy", sans-serif;
}

select {
  padding: 10px;
  cursor: pointer;
  font-weight: 200;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100vh;
}
