@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/variables.scss';

.mockLinkedinPost{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    // align-items: flex-end;
    justify-content: center;
    font-family: Gilroy;
}
#post {
  border: 1px solid lightgray;
  width: fit-content;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  width:calc(100% - 80px);
  @include Tablet {
    width:400px;
    margin: 20px;
  }

  @include Mobile {
    margin: 10px;
  }

  @include Desktop {
    width:400px;
    margin: 20px;
  }
  border-radius: 8px;
  background-color: white;
}

.author {
  display: flex;
  align-items: center;
  padding: 10px;
}

.author-info {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  align-items: flex-start;
  margin-left: 5px;
}

.author-name {
  font-weight: 700;
}

.author-followers {
  font-size: 14px;
  color:rgb(0,0,0, 60%);
}

.post-text {
  text-wrap: wrap;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.post-image {
  margin-top: 10px;
  width: 100%;
  height: 250px;

  @include Tablet {
    width:400px;
  } 

  @include Desktop {
    width:400px;
  }
}

.post-interactions {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 12px;
  padding: 5px;
}

.interaction {
  padding: 5px;
}

.post-actions {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  @include Mobile{
    padding-left: 2px;
    padding-right: 2px;
  }
  border-top: 1px solid lightgray;
}

.action {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.action > span {
  margin-left: 3px;
}

@media only screen and (max-width: $Tablet) {
  .action > span {
    display: none;
      
  }
}